# Ignore Visual Studio folder
.vs/

# Ignore build output folders
obj/

# Ignore build directories
bin/
obj/

# Ignore cache files
/BloodSupportSystemProject/obj
/BloodSupportSystemProject/obj/Debug
/BloodSupportSystemProject/obj
