/.vs/BloodSupportSystem/CopilotIndices
/.vs/BloodSupportSystem/FileContentIndex
/.vs/BloodSupportSystem/v17
/.vs/BloodSupportSystemProject/CopilotIndices
/.vs/BloodSupportSystemProject/DesignTimeBuild
/.vs/BloodSupportSystemProject/FileContentIndex
/.vs
/BLL/bin

/BLL/obj

/BloodSupportSystemProject/bin
/DAL/bin
/DAL/obj
/DAL
/Common/obj
/Common
/BloodSupportSystemProject/obj
