/.vs/BloodSupportSystemProject/CopilotIndices
/.vs/BloodSupportSystemProject/copilot-chat
/.vs/BloodSupportSystemProject/FileContentIndex
/DAL/obj/Debug
/DAL/obj/Debug
/DAL/obj/Debug/net8.0
/BLL/bin/Debug
/BloodSupportSystemProject/obj/Debug
/Common/obj/Debug
/.vs/BloodSupportSystemProject/DesignTimeBuild
/BLL/obj
